<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('JAYCODER NET - 강좌 게시판')">
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />
    <link href="starter-template.css" th:href="@{/starter-template.css}" rel="stylesheet" />
    <title>JAYCODER NET - 강좌 게시판</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('board')">
    </nav>
    <div class="container">
        <h2>강좌 게시판</h2>  <!--   -->  
        <form role="form" class="my-2"  th:action="@{/board/form} + '?' + ${_csrf.parameterName} + '=' + ${_csrf.token}" th:object="${board}"
             th:method="post" enctype="multipart/form-data">
            <input type="hidden" th:field="*{id}" />
            <div class="form-group">
                <input type="text" class="form-control" th:classappend="${#fields.hasErrors('title')} ?  'is-invalid'" id="title" th:field="*{title}" />
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">제목 에러 메세지.</div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('content')} ?  'invalid-content'">
                    <textarea class="form-control summernote" th:classappend="${#fields.hasErrors('content')} ?  'is-invalid'" id="content" rows="10" th:field="*{content}"></textarea>
                    <!--div class="invalid-feedback" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">내용 에러 메세지.</div-->
                </div>
                <div class="invalid-feedback-c"  th:if="${#fields.hasErrors('content')}" th:errors="*{content}" >내용 에러 메세지.</div>
                <!-- 첨부파일 영역 -->
                <div class="form-group">
                    <label for="upload-files">&bull;첨부파일은 다중 선택이 가능하고, 5MB 까지만 가능합니다.</label>
                    <input type="file" name="uploadfile" class="form-control-file" id="upload-files" multiple>
                </div>              
                <div class="text-right" id="btnDiv">
                    <a class="btn btn-secondary" th:href="@{/board/list}">취소</a>
                    <button type="submit"  class="btn btn-primary">확인</button>
                </div>                            
            </form>
        </div>
        <script>
            $('.summernote').summernote({
               lang: 'ko-KR',
              tabsize: 2,
              height: 300
            });
        </script>
        <script src="/js/board.js"></script>
        <div th:include="fragments/common :: foot"></div>

</body>
</html>